@charset 'utf-8';

.counter {
  position: relative;
  width: 60px;

  padding: 5px;
  font-size: 1rem;
  border: none;
  border-left: 2px solid #efefef;
  border-top: 2px solid #efefef;
  box-shadow: 3px 3px 3px 0px #0006;
  background-color: #fff;
}

h1 {
  margin: 30px 20px;
}

.inc-button,
.dec-button {
  margin: 5px;

  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0px #0003;
}

.inc-button {
  background-color: darkblue;
}

.dec-button {
  background-color: darkorange;
}

.remove-button {
  position: absolute;
  right: 5px;
  top: 5px;

  font-size: 11px;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0px #0003;
  background-color: darkred;
}